<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="org.javafxports.jfxmirror.LoggerListener"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <conversionRule conversionWord="highlightex" converterClass="org.javafxports.jfxmirror.LoggerColoring" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <useJansi>true</useJansi>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%highlightex(%msg) %n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PATH}/${LOG_FILE_BASE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATH}/${LOG_FILE_BASE_NAME}_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger{0}] %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC500" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <logger name="org.glassfish" level="DEBUG" additivity="true">
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC500"/>
    </logger>
    <logger name="org.glassfish.jersey" level="DEBUG" additivity="false">
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC500"/>
    </logger>
    <logger name="org.javafxports.jfxmirror" level="DEBUG" additivity="true">
        <appender-ref ref="FILE" />
        <appender-ref ref="ASYNC500"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
